
body{
    margin-left: 64px;
    margin-right: 64px;
    font-size: 18px;
    font-weight: 400;
}

button{
    display: block;
    width: 90px;
    height: 50px;
    border-radius: 6px;
    background: rgb(119, 73, 248);
    color: white;
    border-color: rgb(119, 73, 248);
}


    

button:hover{
    background-color: white;
    color:  rgb(119, 73, 248);
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 120px;
}

.header-title{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

.header-ul{
    display: inline-flex;
    gap: 30px;
    align-items: center; 
    list-style-type: none;
  
}

.header-li{
    color: rgb(43, 0, 163);
    font-family: Helvetica Neue;
    cursor: pointer;
    
}

.header-li:hover{
    color: rgb(119, 73, 248);
    text-decoration: underline;
}

.header-li-phone-num{
    display: inline-flex;
    padding-left: 50px;
    padding-right: 35px;
    color: rgb(119, 73, 248);
    font-size: 18px;
    font-weight: 400;
}

.header-li-phone-img{
    padding-right: 14px;
}


/* main */

.main-section-beginning{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}



.main-section-title{
    margin: 0;
    padding-bottom: 24px;
    font-size: 55px;
    width: 534px;
}

.section-p{
    margin: 0;
    max-width: 500px;
    padding-bottom: 24px;

}


.main-section-centre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;

}

.padding-section{
    padding-right: 140px;
}

.main-section-last{
    /* display: flex; */
    margin-bottom: 160px;

}

.main-section-title-last{
    padding-right: 80px;
    width: 616px;
    height: 174px;
    font-size: 48px;
}

.main-div-last{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-but-last{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.section-p-last{
    display: flex;
    margin: 0;
    max-width: 500px;
    flex-direction: column;
    
}

.main-img-last{
    display: flex;
    justify-content: center;
}

/* footer */